<ion-view ng-init="initData()" title="Path Finder">
  <ion-content ui-view class="padding">
     <div>
  	   <h1>Located on:</h1>
  	 </div>

      <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Name:</span>
            <input type="text" placeholder={{resultInfo.display}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Title:</span>
            <input type="text" placeholder={{resultInfo.title}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Office:</span>
            <input type="text" placeholder={{resultInfo.office}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Phone:</span>
            <input type="text" placeholder={{resultInfo.phone}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Building:</span>
            <input type="text" placeholder={{resultInfo.building}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Floor:</span>
            <input type="text" placeholder={{resultInfo.floor}} disabled>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Cube:</span>
            <input type="text" placeholder={{resultInfo.cube}} disabled>
        </label>
        <a href="#/map/{{resultInfo.building + 'f' + resultInfo.floor}}">
            <button class="button button-full button-positive">
               MAP IT
            </button>
        </a>
    </div>
  </ion-content>
</ion-view>