<ion-view title="Path Finder">
  <ion-content ui-view class="padding">
     <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Enter Person name or Conference Room Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Enter Person name or Conference Room Name">
	  </label>
	  <a ui-sref="resultinfo">
	    <button class="button button-full button-positive">
		   Locate
        </button>
      </a>
	</div>
  </ion-content>
</ion-view>
